<div class="container mt-4">
  <h1 class="text-center mb-4">
    Manage Account
  </h1>
  {{! }}
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <button
            onclick="toggleCreateAccountForm()"
            class="btn btn-primary rounded-pill shadow"
          >
            Show/Hide Create Account Form
          </button>
        </div>
        <div class="card-body" id="createAccountForm" style="display: none;">
          <h3 class="text-center mb-4">
            Create Account
          </h3>
          <form action="/admin/account/create" method="POST">
            <div class="container mt-5">
              <div class="card rounded">
                <div class="card-body">
                  <div class="row mb-3">
                    <label for="userName" class="col-sm-3 col-form-label">
                      Username
                    </label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control rounded-pill shadow-sm"
                        id="userName"
                        name="userName"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password" class="col-sm-3 col-form-label">
                      Password
                    </label>
                    <div class="col-sm-9">
                      <input
                        type="password"
                        class="form-control rounded-pill shadow-sm"
                        id="password"
                        name="password"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">
                      Email
                    </label>
                    <div class="col-sm-9">
                      <input
                        type="email"
                        class="form-control rounded-pill shadow-sm"
                        id="email"
                        name="email"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-sm-3 col-form-label">
                      Full Name
                    </label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control rounded-pill shadow-sm"
                        id="fullName"
                        name="fullName"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="role" class="col-sm-3 col-form-label">
                      Role
                    </label>
                    <div class="col-sm-9">
                      <select
                        id="role"
                        name="roleId"
                        class="form-control rounded-pill shadow-sm"
                        required
                      >
                        {{#each roles}}
                          <option value="{{this._id}}">
                            {{this.name}}
                          </option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="facultyId" class="col-sm-3 col-form-label">
                      Faculty
                    </label>
                    <div class="col-sm-9">
                      <select
                        id="facultyId"
                        name="facultyId"
                        class="form-control rounded-pill shadow-sm"
                        required
                      >
                        <option value="">
                          Select Faculty
                        </option>
                        {{#each faculties}}
                          <option value="{{this._id}}">
                            {{this.name}}
                          </option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                    type="submit"
                    class="btn btn-primary rounded-pill shadow"
                  >
                    Create Account
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{! }}
  <div class="row">
    {{#if admins.length}}
      <div class="col-md-12">
        <!-- Table for viewing all admin accounts -->
        <h2>
          Admins
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>
                  Username
                </th>
                <th>
                  Email
                </th>
                <th>
                  Full Name
                </th>
                {{! <th>Role</th>
                            <th>Faculty</th> }}
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each admins}}
                <tr>
                  <td>
                    {{this.userName}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.fullName}}
                  </td>
                  {{!-- <td>{{this.roleId.name}}</td>
                            <td>{{this.facultyId.name}}</td> --}}
                  <td>
                    <a
                      href="./{{this._id}}/edit"
                      class="btn btn-sm btn-primary mr-2"
                    >
                      Edit
                    </a>
                    {{!-- <form
                      action="./{{this._id}}/delete"
                      method="POST"
                      style="display: inline;"
                    >
                      <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                      </button>
                    </form> --}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}

    <!-- Example for managers -->
    {{#if managers.length}}
      <div class="col-md-12">
        <h2>
          Managers
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>
                  Username
                </th>
                <th>
                  Email
                </th>
                <th>
                  Full Name
                </th>
                {{! <th>Role</th>
                            <th>Faculty</th> }}
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each managers}}
                <tr>
                  <td>
                    {{this.userName}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.fullName}}
                  </td>
                  {{!-- <td>{{this.roleId.name}}</td>
                            <td>{{this.facultyId.name}}</td> --}}
                  <td>
                    <a
                      href="./{{this._id}}/edit"
                      class="btn btn-sm btn-primary mr-2"
                    >
                      Edit
                    </a>
                    {{!-- <form
                      action="./{{this._id}}/delete"
                      method="POST"
                      style="display: inline;"
                    >
                      <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                      </button>
                    </form> --}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}

    <!-- Example for students -->
    {{#if students.length}}
      <div class="col-md-12">
        <h2>
          Students
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>
                  Username
                </th>
                <th>
                  Email
                </th>
                <th>
                  Full Name
                </th>
                {{! <th>Role</th> }}
                <th>
                  Faculty
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each students}}
                <tr>
                  <td>
                    {{this.userName}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.fullName}}
                  </td>
                  {{!-- <td>{{this.roleId.name}}</td> --}}
                  <td>
                    {{this.facultyId.name}}
                  </td>
                  <td>
                    <a
                      href="./{{this._id}}/edit"
                      class="btn btn-sm btn-primary mr-2"
                    >
                      Edit
                    </a>
                    {{!-- <form
                      action="./{{this._id}}/delete"
                      method="POST"
                      style="display: inline;"
                    >
                      <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                      </button>
                    </form> --}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}

    <!-- Example for coordinators -->
    {{#if coordinators.length}}
      <div class="col-md-12">
        <h2>
          Coordinators
        </h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>
                  Username
                </th>
                <th>
                  Email
                </th>
                <th>
                  Full Name
                </th>
                {{! <th>Role</th> }}
                <th>
                  Faculty
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each coordinators}}
                <tr>
                  <td>
                    {{this.userName}}
                  </td>
                  <td>
                    {{this.email}}
                  </td>
                  <td>
                    {{this.fullName}}
                  </td>
                  {{!-- <td>{{this.roleId.name}}</td> --}}
                  <td>
                    {{this.facultyId.name}}
                  </td>
                  <td>
                    <a
                      href="./{{this._id}}/edit"
                      class="btn btn-sm btn-primary mr-2"
                    >
                      Edit
                    </a>
                    {{!-- <form
                      action="./{{this._id}}/delete"
                      method="POST"
                      style="display: inline;"
                    >
                      <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                      </button>
                    </form> --}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<script>
  function toggleCreateAccountForm() { var form =
  document.getElementById("createAccountForm"); if (form.style.display ===
  "none") { form.style.display = "block"; } else { form.style.display = "none";
  } }
</script>