<h1 class="text-center mb-4">Manage Submissions {{facultyName}}</h1>
<div class="row">
    <div class="col-md-12">
        <!-- Table for viewing all submissions -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Posted to (Magazine)</th>
                        <th>Date submitted</th>
                        <th>Academic year </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each submissions}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.magazine.title}}</td>
                        <td>{{formatDateForView this.dateSubmitted}}</td>
                        <td>{{this.magazine.academicYear.name}}({{formatDateForView
                            this.magazine.academicYear.finalClosureDate}})</td>
                        <td>{{this.status}}</td>
                        <td>
                            {{#if (isBeforeFinalClosureDate this.magazine.academicYear.finalClosureDate)}}
                            <a href="./{{this._id}}/edit" class="btn btn-sm btn-primary mr-2">Edit</a>
                            {{/if}}
                            <!-- Add additional actions as needed -->
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {{#if (gt totalPages 1)}}
            {{#if (gt currentPage 1)}}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{sub currentPage 1}}">Previous</a></li>
            {{/if}}
            {{#each pages}}
            <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}"><a class="page-link"
                    href="?page={{this}}">{{this}}</a></li>
            {{/each}}
            {{#if (lt currentPage totalPages)}}
            <li class="page-item"><a class="page-link" href="?page={{add currentPage 1}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{totalPages}}">Last</a></li>
            {{/if}}
            {{/if}}
        </ul>
    </nav>