<body>
    {{!-- <h1>Submissions by Faculty</h1> --}}
            {{!-- {{#each magazines}}
                    <h2>{{this.title}}</h2>

                    {{/each}} --}}
    <div class="w-full">
    <img src="https://oecglobal.com/images/stories/PDF/University_of_Greenwich_logo.png" alt="Greenwich" class="w-60 h-30 object-cover" />
    </div>
    <h2 class="text-4xl font-bold text-center text-zinc-800 dark:text-white py-8">Course</h2>
   {{#each faculties}}
    <h2>{{this.name}}</h2>
    {{#each magazines}}
        {{!-- Debugging: Print the current magazine object to see its properties --}}
        <pre>{{json this}}</pre>

        {{!-- Now check if title is present in the current context --}}
        <h2>{{title}}</h2>
        {{#ifEquals this.faculty ../faculty}} <!-- Check if the magazine belongs to the current faculty -->
            <h3>{{title}}</h3>
            <ul>
                {{#each submissions}} <!-- Iterate over submissions of the current magazine -->
                    {{#ifEquals this.magazine ../magazine}} <!-- Check if the submission belongs to the current magazine -->
                        <li>
                            <h4>{{title}}</h4>
                            <p>Submitted by: {{student.name}}</p>
                            <p>Date Submitted: {{dateSubmitted}}</p>
                            <p>Status: {{status}}</p>
                            <p>Comment: {{comment}}</p>
                            <!-- Add other submission details here -->
                            <!-- Example of using imagePath if available -->
                            {{#if imagePath}}
                                <img src="{{imagePath}}" alt="Submission Image">
                            {{/if}}
                            <!-- Example of using documentPath if available -->
                            {{#if documentPath}}
                                <a href="{{documentPath}}" target="_blank">View Document</a>
                            {{/if}}
                        </li>
                    {{/ifEquals}}
                {{/each}}
            </ul>
        {{/ifEquals}}
    {{/each}}
{{/each}}


    <!-- Helper to check equality -->
</body>